﻿@model IEnumerable<EP20180526_MMFA_SYSTEM.Models.ApplicationUser>


<p>
    <a asp-action="Create" class="btn btn-default">Vytvořit zaměstnance</a>
</p>
 <input class="form-control" id="myInput" type="text" placeholder="Search.." style="margin-bottom:10px;"/>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._Authorization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._Permission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="myTable">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._Authorization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._Permission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                @if (item._Authorization == true)
                {
                    <a asp-action="UnAuthorize" class="btn btn-warning" asp-route-id="@item.Id">Zamítnout</a>
                }
                else
                {
                    <a asp-action="Authorize" class="btn btn-block" asp-route-id="@item.Id">Schval</a>

                }



            </td>
        </tr>
}
    </tbody>
</table>
