﻿@model IEnumerable<EP20180526_MMFA_SYSTEM.Models.ApplicationUser>
<p>
    <a asp-action="acceptNoAuthorizeAll" class="btn btn-default">Schválit všechny neautorizované členy</a>
</p>

<input class="form-control" id="myInput" type="text" placeholder="Search.." style="margin-bottom:10px;" />
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model._Authorization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="myTable">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._Authorization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Authorize" class="btn btn-success" asp-route-id="@item.Id">Schval</a>
            </td>
        </tr>
}
    </tbody>
</table>
