﻿@model EP20180526_MMFA_SYSTEM.Models.UserRegistration

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }

        .col-centered {
            float: none;
            margin: 0 auto;
        }

        html, body, .container-table {
            height: 100%;
        }

        body {
            background-color: rgb(245, 245, 245)
        }

        .signin-card {
            background-color: white;
            padding: 30px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding-bottom: 0px;
        }

        .left {
            padding: 10px 0 10px 5px;
            margin: 20px 0 0 -15PX;
            text-align: center;
            color: white;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5eadf2+64,f2efab+93 */
            background: rgb(94,173,242); /* Old browsers */
            background: -moz-linear-gradient(left, rgba(0,0,0,1) 64%, rgba(255,255,255,1) 93%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(0,0,0,1) 64%,rgba(255,255,255,1) 93%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(0,0,0,1) 64%,rgba(255,255,255,1) 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5eadf2', endColorstr='#f2efab',GradientType=1 ); /* IE6-9 */
        }

        .right {
            padding: 10px 5px 10px 0px;
            margin: 20px -15px 0 0;
            background: rgba(255,255,255,1);
            text-align: center;
        }
    </style>
</head>
<body>


    <div class="container" style="margin-top:30px">
        <div class="row ">
            <div class="col-sm-4 col-centered signin-card">
                <h2 style="text-align:center">MMFA s.r.o</h2>
                <form asp-action="Registration">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" type="email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password2" class="control-label"></label>
                        <input asp-for="Password2" type="password" class="form-control" />
                        <span asp-validation-for="Password2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <small>Souhlasím, se smluvními <a href="">podmínkami</a>.</small>
    <br />
    <input asp-for="Permission" /> @Html.DisplayNameFor(model => model.Permission)
</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Registrovat se" class="btn btn-primary col" />
                    </div>
                </form>
                <div class="row">
                    <div class="col left"><h5><a href="/Account/Login">Přihlas se</a></h5></div>
                    <div class="col right"><h5><a href="/Account/Registration">Registruj se </a></h5></div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>





